.btn-outline-primary.active {
    background-color: #0d6efd;
    color: white;
}

.grid-1x1 .row {
    display: flex;
    justify-content: center;
}

.grid-1x1 .col {
    display: flex;
    justify-content: center;
    flex: 0 0 50%;
}

.mi-imagen1x1 {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.card {
    max-width: 500px;
    margin: 0 auto;
}